################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/QAToolKit.Core/obj
/test/QAToolKit.Core.Test/obj
/test/QAToolKit.Core.Test/bin
/src/QAToolKit.Core/bin
